<a href="https://colab.research.google.com/github/Soumi7/PG-StockManagement/blob/master/General_Items_unit_cogs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
df=pd.read_csv("drive/My Drive/MERGED_FINAL_DATASET.csv")

In [0]:
df

       Unnamed: 0        date  ...  monthly_avg_cloudcover monthly_avg_humidity
0               0  2018-01-01  ...                       2                82.81
1               1  2018-01-01  ...                       2                82.81
2               2  2018-01-01  ...                       2                82.81
3               3  2018-01-01  ...                       2                82.81
4               4  2018-01-01  ...                       2                82.81
...           ...         ...  ...                     ...                  ...
23175       23175  2018-01-12  ...                       3                88.58
23176       23176  2018-01-12  ...                       3                88.58
23177       23177  2018-01-12  ...                       3                88.58
23178       23178  2018-01-12  ...                       3                88.58
23179       23179  2018-01-12  ...                       3                88.58

[23180 rows x 12 columns]

In [0]:
df=df.drop(['Unnamed: 0',	'date', 'ishol/week',	'quantity','monthly_Avgtemp',	'monthly_avg_FeelsLikeC',	'monthly_avg_HeatIndexC',	'monthly_avg_cloudcover',	'monthly_avg_humidity'],axis=1)

So we create a dictionary to store the separated datasets with key as name of each group

In [0]:
d = {}

for frame, data in df.groupby('group'):
    d[frame] = data

In [0]:
print(d)

{'ALCOHOL':          group                                      name  unit_cogs
12     ALCOHOL            PIWO BOJAN  WIELKOP.0_5 L B/ZW       2.50
13     ALCOHOL            PIWO BOJAN FAJRANT 0_5 L B/ZWR       1.61
14     ALCOHOL              PIWO BOJAN KOKOS 0_5 L B/ZWR       3.02
15     ALCOHOL          PIWO BOJAN STRAZACKIE 0_5 L B/ZW       2.50
16     ALCOHOL           PIWO BOJAN SZWEJK 0_5 L B/ZWROT       2.37
...        ...                                       ...        ...
23175  ALCOHOL            WINO TOTINO CHERRY VERMOUTH 1L       9.80
23176  ALCOHOL       WINO WALDWEIN JEZYNA 0_75 L SLODKIE       7.60
23177  ALCOHOL       WINO WALDWEIN MALINA 0_75 L SLODKIE       7.60
23178  ALCOHOL  WODKA DRINK SOBIESKI 025ML CRANBERRY4.4%       2.89
23179  ALCOHOL      WODKA DRINK SOBIESKI KAMIKAZE.250 ML       2.89

[1807 rows x 3 columns], 'BREAD':        group                                name  unit_cogs
69     BREAD       B BABKA DUZA JOGURTOWA/POLEWA   7.310000
70     BREAD      B CIASTKA FRANCUSKIE/ROZNE LUZ  13.659664
71     BREAD               B ROGAL MLECZNY 0_1KG   0.990000
72     BREAD  B ROGALE/GNIAZDO SMIET/EKLER/OMLET   1.637500
73     BREAD     B SERNIK/PIANKI/ROGALE Z MAKIEM  22.521739
...      ...                                 ...        ...
21439  BREAD               S CHLEB ZIARNISTY 0_6   3.470000
21440  BREAD       S CHLEB ZIARNISTY KROJONY 0_3   2.240000
21441  BREAD     S CIASTKA KRUCHPLACEK DROZDZOWY  11.774007
21442  BREAD          S JABLECZ/MURZYN/JOGURTOWY   8.000000
21443  BREAD                 S SKUBANIEC FOREMKA   8.750000

[461 rows x 3 columns], 'CHEMISTRY':            group                                name  unit_cogs
137    CHEMISTRY                  PATYCZKI BELLA 200       1.77
138    CHEMISTRY                             ACE 1 L       3.20
139    CHEMISTRY     ARIEL KAPSU?KI DO BIA?EGO 32SZT       0.78
140    CHEMISTRY  BATERIA GP PLASKA 3R12 4_5V  312GR       2.71
141    CHEMISTRY                       BATERIA R6 AA       0.78
...          ...                                 ...        ...
21689  CHEMISTRY                         ZIMNE OGNIE       0.49
21690  CHEMISTRY           ZMYWACZ DO PAZNOKCI 50 ML       0.98
21691  CHEMISTRY          ZMYWAK KUCHENNY MALY 1 SZT       0.18
21692  CHEMISTRY                  ZNICZ ANIOLEK S-95       3.05
21693  CHEMISTRY                         ZNICZ KWIAT       4.76

[2152 rows x 3 columns], 'CHEWING_GUM_LOLIPOPS':                       group                           name  unit_cogs
294    CHEWING_GUM_LOLIPOPS      DROPS HALLS MENTOL LUPTUS       1.35
295    CHEWING_GUM_LOLIPOPS  GUMA AIRWAVES PORZECZKA DRAZE       1.44
296    CHEWING_GUM_LOLIPOPS                     GUMA ARBUZ       0.27
297    CHEWING_GUM_LOLIPOPS       GUMA FOOTBALL EURO/TURBO       0.13
298    CHEWING_GUM_LOLIPOPS                     GUMA MAMBA       0.46
...                     ...                            ...        ...
21709  CHEWING_GUM_LOLIPOPS       LIZAK KWIATEK/MALY/KULKA       0.23
21710  CHEWING_GUM_LOLIPOPS                    LIZAK SERCA       0.10
21711  CHEWING_GUM_LOLIPOPS                   LIZAK ZELOWY       0.73
21712  CHEWING_GUM_LOLIPOPS         MENTOS STRONG MINT 38G       1.37
21713  CHEWING_GUM_LOLIPOPS        ZABAWKA SW + CZEKOLADKI      10.48

[332 rows x 3 columns], 'CHIPS_FLAKES':               group                          name  unit_cogs
333    CHIPS_FLAKES          CHETOS MINIONKI 80 G       2.12
334    CHIPS_FLAKES                CHETOS UP 16 G       0.65
335    CHIPS_FLAKES      CHIPSY LAY`S FROMAGE 40G       0.99
336    CHIPS_FLAKES            CHRUPKI OWOCE 45 G       0.89
337    CHIPS_FLAKES  CHRUPKI STAR HYPER PIZZA 58G       1.11
...             ...                           ...        ...
21741  CHIPS_FLAKES        STAR CHIPS KEBAB 130 G       2.23
21742  CHIPS_FLAKES       STAR CHIPS ORZECH 125 G       2.18
21743  CHIPS_FLAKES  STAR CHIPS SER POMIDOR 125 G       2.18
21744  CHIPS_FLAKES           TWISTOS FROMAGE 80G       1.30
21745  CHIPS_FLAKES                    WYKA?ACZKI       0.75

[509 rows x 3 columns], 'CIGARETTES':             group                       name  unit_cogs
390    CIGARETTES       BLOK RYSUNKOWY KOLOR   1.220000
391    CIGARETTES            CYGARETKI 1 SZT   1.000000
392    CIGARETTES  CYGARETKI MINI 10 SZT BLU   9.660000
393    CIGARETTES        GILZT GAPARD 100+25   1.290000
394    CIGARETTES   GILZY GULIWER 300+50GRAT   3.614000
...           ...                        ...        ...
21809  CIGARETTES         WODA AQA 0_5 L GAZ   0.364839
21810  CIGARETTES         WODA AQA 0_5 L N/G   0.370000
21811  CIGARETTES                    ZAPALKI   0.060000
21812  CIGARETTES          ZAPALNICZKA KOLOR   0.650000
21813  CIGARETTES               ZNICZ S -205   3.140000

[850 rows x 3 columns], 'COFFEE TEA':             group                                   name  unit_cogs
462    COFFEE TEA          BISZKOPTY 120 G MLYNY POLSKIE     3.2500
463    COFFEE TEA        CAPPUCCINO WANILIA MOKATE 110GR     2.0900
464    COFFEE TEA    EKOLAND HERBATA MULTIVITA 300GR TOR     2.4900
465    COFFEE TEA  EKOLAND HERBATA OWOCE LE?NE 300GR TOR     2.4900
466    COFFEE TEA          HER.GRANULOW.INDYJ 80G CONSUM     1.0700
...           ...                                    ...        ...
21849  COFFEE TEA                    PRIMA 100 G MIELONA     2.4380
21850  COFFEE TEA                   PRIMA 250G NIEBIESKA     5.0925
21851  COFFEE TEA                   PRIMA 500G NIEBIESKA    10.6900
21852  COFFEE TEA           PRIMA SNIADANIOWA 100G SLOIK     4.3100
21853  COFFEE TEA                    WARZYWA NA PATELNIE     4.0000

[482 rows x 3 columns], 'COOKIES_BULK':               group                                   name  unit_cogs
511    COOKIES_BULK  BOMBONIERA GALARETKS POM.190 G W CZEK   4.180000
512    COOKIES_BULK                  CHRUSCIKI /PACZKI LUZ  13.960894
513    COOKIES_BULK         CIAST.KOWOLKA JEZYKI/KOKOSANKI  13.900000
514    COOKIES_BULK         CIASTKA GERARD PSOTKI/KOKOS/KG  12.000000
515    COOKIES_BULK         CIASTKA GERERD MAFIJNE/MARKIZY  13.440000
...             ...                                    ...        ...
21870  COOKIES_BULK               PIERNIK W POLEWIE KOSTKA  14.555556
21871  COOKIES_BULK                       PIERNIKI  DOMOWE  16.096402
21872  COOKIES_BULK           WAFLE CHRUPS/LUMARKI/GRZESKI  10.142857
21873  COOKIES_BULK                 WAFLE PISZINGER VAT 8%  10.242424
21874  COOKIES_BULK                          ZESTAW SW BUT  10.460000

[214 rows x 3 columns], 'DAIRY_CHESSE':               group                                name  unit_cogs
532    DAIRY_CHESSE   ALMETTE CZOSNEK NIEDZWIEDZI 150GR       2.68
533    DAIRY_CHESSE     ALMETTE JOGURTOWY 150G HOCHLAND       2.68
534    DAIRY_CHESSE           ALMETTE OGOREK/ZIOLA 150G       2.68
535    DAIRY_CHESSE           ALMETTE SER POMIDOR 150 G       2.68
536    DAIRY_CHESSE     ALMETTE SZCZYPIOREK CEBULA 150G       2.68
...             ...                                 ...        ...
22034  DAIRY_CHESSE              WAFLE SUCHE KOLO 150 G       1.53
22035  DAIRY_CHESSE   WARZYWA NA PATELNIE 450 G WLOSKIE       4.33
22036  DAIRY_CHESSE  WIB SOS KOPERKOWY ZE SMIETANA 27 G       1.19
22037  DAIRY_CHESSE       WIN SOS PIECZENIOWY DELIKATNY       1.39
22038  DAIRY_CHESSE               WIN ZUREK RAZOWY 33 G       2.64

[2297 rows x 3 columns], 'DRINK_JUICE':              group                               name  unit_cogs
716    DRINK_JUICE            BATON KINDER DELIC 39 G   1.500000
717    DRINK_JUICE                  CAPPY  1 L JAB?KO   3.280000
718    DRINK_JUICE             CAPPY MULTIWITAMIN 1 L   4.220000
719    DRINK_JUICE          COSTA CZARNA PORZECZKA 2L   2.390000
720    DRINK_JUICE                  COSTA JABLKOWA 2L   2.400000
...            ...                                ...        ...
22173  DRINK_JUICE         ZBYSZKO 3 LIMONKI 1_5L GAZ   1.590000
22174  DRINK_JUICE  ZBYSZKO 3 POM.CZERWONE GAZ 1_5  L   1.623333
22175  DRINK_JUICE        ZBYSZKO 3 POMARANCZ 1_5 GAZ   1.582000
22176  DRINK_JUICE      ZBYSZKO 3 WITAMINKI GAZ 1_5 L   1.570000
22177  DRINK_JUICE            ZBYSZKO TONIC 1_50L GAZ   1.860000

[2044 rows x 3 columns], 'GENERAL':          group                                     name  unit_cogs
892    GENERAL                     BATERIA 44 R3 MAXELL   0.960000
893    GENERAL               BERLISO 180 G +20 G CZEKOL   1.210000
894    GENERAL                 BERLISO 180 G+20G TRUSKA   1.527647
895    GENERAL  CIASTKA KRAKUSKI DESEROWE Z CUKREM 200G   1.960000
896    GENERAL                          CZARNUSZKA 50 G   2.170000
...        ...                                      ...        ...
22293  GENERAL              ZESTAW WIGILIJNY 250 G SUSZ   2.020000
22294  GENERAL                      ZUPA 9 WARZYW 450 G   3.960000
22295  GENERAL       ZUPA VIFON KREWETKA PIKANTNA OSTRA   0.920000
22296  GENERAL                      ZURAWINA 80 G HELIO   1.850000
22297  GENERAL                      ZUREK BUTELKA 0_5 L   1.310000

[905 rows x 3 columns], 'GENERAL_FOOD':               group                                name  unit_cogs
970    GENERAL_FOOD               ALMETTE SZPINAK 150 G   2.680000
971    GENERAL_FOOD           AMINO BLYSK GULASZOWA 61G   0.820000
972    GENERAL_FOOD  AMINO BLYSK. ROSOL Z KURY PIKANTNY   0.820000
973    GENERAL_FOOD              AMINO BLYSK.POMIDOROWA   0.920000
974    GENERAL_FOOD             AMINO B?YSK_PIECZARKOWA   0.820000
...             ...                                 ...        ...
22473  GENERAL_FOOD      ZELATYNA SPOZYWCZA 50G CYKORIA   2.522500
22474  GENERAL_FOOD           ZELATYNA Z PRZYPR.CYKORIA   1.484146
22475  GENERAL_FOOD          ZUPA VIFON KURCZAK CHINSKI   0.920000
22476  GENERAL_FOOD                ZURAWINA S?OIK 230 G   4.510000
22477  GENERAL_FOOD               ZUREK KRAKUS BUT 300G   3.200000

[1956 rows x 3 columns], 'GENERAL_ITEMS':                group                               name  unit_cogs
0      GENERAL_ITEMS           BELLA HERBS 12 Z WERBENA       2.39
1      GENERAL_ITEMS            BELLA PODPASKI BLUE MAX       2.85
2      GENERAL_ITEMS  BELLA PODPASKI NORMAL 20 B/SKRZYD       1.76
3      GENERAL_ITEMS      BELLA PODPASKI NORMAL MAXI 10       2.14
4      GENERAL_ITEMS        BELLA PODPASKI NOVA MAXI 10       2.66
...              ...                                ...        ...
22744  GENERAL_ITEMS                 RAJSTOPY DZIECIECE       2.35
22745  GENERAL_ITEMS              RAJSTOPY GATTA 15 DEN       1.40
22746  GENERAL_ITEMS                RAJSTOPY STRETCH -3       2.20
22747  GENERAL_ITEMS                RAJSTOPY STRETCH -4       2.20
22748  GENERAL_ITEMS              SKARPETY INEZ B/UCISK       2.45

[658 rows x 3 columns], 'GROATS_RICE_PASTA':                    group                                   name  unit_cogs
1124   GROATS_RICE_PASTA           DANIE KACHNY STROGONOW 500 G      4.000
1125   GROATS_RICE_PASTA              FASOLA 400 G P.JAS MALVIT      4.130
1126   GROATS_RICE_PASTA            GROCH POLÓWKI 0_5 KG STEFIK      1.430
1127   GROATS_RICE_PASTA           GROCH ?Ó?YT CA?Y 400GR CENOS      1.040
1128   GROATS_RICE_PASTA          KASZA GRYCZANA 4 X 100G SONKO      3.330
...                  ...                                    ...        ...
22527  GROATS_RICE_PASTA                       SMAROWID?O 170 G      1.670
22528  GROATS_RICE_PASTA  SONKO KASZA JECZMIENNA 4X100G WIEJSKA      1.200
22529  GROATS_RICE_PASTA  SONKO KASZA JECZMIENNA PERLOWA 4*100G      1.215
22530  GROATS_RICE_PASTA               TORTELINO 250 G Z MIESEM      4.640
22531  GROATS_RICE_PASTA               WAFLE SUNNY 60G Z CEBULA      1.830

[635 rows x 3 columns], 'ICE_CREAMS_FROZEN':                    group                           name  unit_cogs
1180   ICE_CREAMS_FROZEN  BARSZCZ UKRAINSKI 450G NORDIS       1.97
1181   ICE_CREAMS_FROZEN           BROKUL MROZONY 450 G       3.49
1182   ICE_CREAMS_FROZEN  BROKULY MROZONE 450 GR MORDIS       4.58
1183   ICE_CREAMS_FROZEN                BRUKSELKA 450 G       3.67
1184   ICE_CREAMS_FROZEN   BUKIET KROLEWSKI 450G NORDIS       1.99
...                  ...                            ...        ...
22575  ICE_CREAMS_FROZEN              ZUPA GRZYBOWA 450       6.99
22576  ICE_CREAMS_FROZEN                  ZUPA OGORKOWA       3.51
22577  ICE_CREAMS_FROZEN          ZUPA WEGIERSKA  450 G       3.89
22578  ICE_CREAMS_FROZEN            ZUPA WIOSENNA 450 G       3.27
22579  ICE_CREAMS_FROZEN      ZUPA WIOSENNA 450G NORDIS       3.47

[1334 rows x 3 columns], 'KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH':                                            group  ...  unit_cogs
1251   KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...   0.920000
1252   KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...   2.130000
1253   KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...   5.570000
1254   KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...   1.870000
1255   KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...   1.870000
...                                          ...  ...        ...
22652  KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...   7.040000
22653  KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...   0.895000
22654  KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...   0.880000
22655  KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...   1.263636
22656  KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  ...  16.540000

[877 rows x 3 columns], 'OCCASIONAL':             group                              name  unit_cogs
1363   OCCASIONAL         BATERIA AA WARTA R6 1 SZT       0.96
1364   OCCASIONAL  BATERIA VARTA LR3 LONGLIFE 1 SZT       0.93
1365   OCCASIONAL             BATERIE ALKAICZ  LR 3       0.93
1366   OCCASIONAL                BATERIE ALKAICZ R6       0.93
1367   OCCASIONAL                BLOK TECHNICZNY A4       0.84
...           ...                               ...        ...
22707  OCCASIONAL                   TOREBKA SW DUZA       1.75
22708  OCCASIONAL                   WKLAD DO ZNICZY       1.05
22709  OCCASIONAL                  ZNICZ DUZY S-226       4.13
22710  OCCASIONAL                  ZNICZ DUZY S-279       4.04
22711  OCCASIONAL                   ZNICZ MALY S-30       0.80

[204 rows x 3 columns], 'POULTRY':          group                             name  unit_cogs
110    POULTRY          BRZOSKWINIE SANDRA 820G   3.770000
111    POULTRY     FASOLA CZERWONA.DAWTONA 400G   1.630000
112    POULTRY          GROSZEK BONDUELLE 400G.   1.700000
113    POULTRY      KAMIS PRZYPRAWA DO RYB 20 G   1.820000
114    POULTRY  KONSERWA TURYSTYCZNA 300 G LAUR   1.850000
...        ...                              ...        ...
22684  POULTRY              PASZTET WEDZONY  KG   8.668394
22685  POULTRY            POLEDWICA SOPOLCKA KG  18.387692
22686  POULTRY               SZYNKA CHLEBOWA KG  18.051852
22687  POULTRY                 SZYNKA DOMOWA KG  20.348837
22688  POULTRY           SZYNKA WIELKOPOLSKA KG  18.920398

[1185 rows x 3 columns], 'SPICES':         group                                  name  unit_cogs
1428   SPICES                  APEPETITA GYROS 30 G     1.0000
1429   SPICES                 APETTITA CYNAMON 20 G     0.7900
1430   SPICES           APPETITA GALKA MUSZKATOLOWA     0.9900
1431   SPICES                APPETITA IMBIR MIELONY     0.9900
1432   SPICES    APPETITA PRZYPRAWA DO GULASZU 20 G     0.9700
...       ...                                   ...        ...
22812  SPICES               WIN ZIARENKA SMAKU 120G     1.6600
22813  SPICES                WIN ZIARENKA SMAKU 75G     1.5325
22814  SPICES                WIN ZUPA GRZYBOWA 48 G     1.1800
22815  SPICES       ZUPA BLYSKAWICZNA WOLOWINA 60 G     0.3000
22816  SPICES  ZUPA BLYSKAWICZNA Z MAK KURCZAK 60 G     0.3000

[775 rows x 3 columns], 'SWEETS':         group                              name  unit_cogs
1495   SWEETS    AMELIA PIANKA 380 G SMIET.CZEK   4.180000
1496   SWEETS               ANDRUTY   FURMANIAK   0.699381
1497   SWEETS                     ANIMALS MODEL   5.680000
1498   SWEETS       BATON 7DAYS KAKAO W POLEWIE   0.550000
1499   SWEETS                  BATON BOUNTY 57G   1.490000
...       ...                               ...        ...
22994  SWEETS           ZELKI NIM 2 MLEKODUSZKI   1.870000
22995  SWEETS                 ZELKI NIM 2 SHOKI   2.100000
22996  SWEETS            ZELKI NIM 2SOKKI  90 G   1.860000
22997  SWEETS      ZELKI NIMM 2 JOGURTOWE 100 G   1.860000
22998  SWEETS  ZURAWINA W CZEKOLADZIE 70 G EURO   1.830000

[2298 rows x 3 columns], 'TABLETS':          group                               name  unit_cogs
1661   TABLETS                ASPIRYN ULTRA 2 SZT       1.83
1662   TABLETS  PLASTER POLSKI LEK DO CIECIA 6 CM       3.80
1663   TABLETS      TABLETKI  APAP SASZETKA 2 TAB       1.23
1664   TABLETS                 TABLETKI APAP 6SZT       2.78
1665   TABLETS                TABLETKI CHOLINEX 8       5.87
...        ...                                ...        ...
23016  TABLETS          TABLETKI POLOPIRYNA S/10/       3.16
23017  TABLETS  TABLETKI SCORBOLAMID GARD?O 8 SZT       4.10
23018  TABLETS         TABLETKI STREPSILIS 12 SZT       7.90
23019  TABLETS           TABLETKI STREPSILS 8 SZT       8.07
23020  TABLETS               WODA UTLENIONA 100GR       0.99

[265 rows x 3 columns], 'VEGETABLES':             group                              name  unit_cogs
1678   VEGETABLES                AMINO BLYSK  ZUREK   0.820000
1679   VEGETABLES          DR POLEWA MLECZNA TWARDA   1.940000
1680   VEGETABLES                         KT ANANAS   4.640000
1681   VEGETABLES                          KT BANAN   4.067285
1682   VEGETABLES                         KT BROKUL   3.312500
...           ...                               ...        ...
23094  VEGETABLES                      SZPINAK 250G   3.710000
23095  VEGETABLES  WARZYWA NA PATELNIE AZJA -NORDIS   3.700000
23096  VEGETABLES    WISNIE DRELOWANE 400 G MROZONE   7.430000
23097  VEGETABLES      ZAPIEKANKA Z PIECZARKA 220 G   3.550000
23098  VEGETABLES         ZAPIEKANKA Z SZYNKA 220 G   3.820000

[940 rows x 3 columns]}

In [0]:
for key in d.keys():
  d[key]=d[key].drop(['group'],axis=1)

In [0]:
print(d['SWEETS'])

                                   name  unit_cogs
1495     AMELIA PIANKA 380 G SMIET.CZEK   4.180000
1496                ANDRUTY   FURMANIAK   0.699381
1497                      ANIMALS MODEL   5.680000
1498        BATON 7DAYS KAKAO W POLEWIE   0.550000
1499                   BATON BOUNTY 57G   1.490000
...                                 ...        ...
22994           ZELKI NIM 2 MLEKODUSZKI   1.870000
22995                 ZELKI NIM 2 SHOKI   2.100000
22996            ZELKI NIM 2SOKKI  90 G   1.860000
22997      ZELKI NIMM 2 JOGURTOWE 100 G   1.860000
22998  ZURAWINA W CZEKOLADZIE 70 G EURO   1.830000

[2298 rows x 2 columns]

In [0]:
s=d['SWEETS'].drop_duplicates()
print(s)

                                 name  unit_cogs
1495   AMELIA PIANKA 380 G SMIET.CZEK   4.180000
1496              ANDRUTY   FURMANIAK   0.699381
1497                    ANIMALS MODEL   5.680000
1498      BATON 7DAYS KAKAO W POLEWIE   0.550000
1499                 BATON BOUNTY 57G   1.490000
...                               ...        ...
22993       ZELKI NIM 2 HAPPIES 130 G   2.080000
22994         ZELKI NIM 2 MLEKODUSZKI   1.870000
22995               ZELKI NIM 2 SHOKI   2.100000
22996          ZELKI NIM 2SOKKI  90 G   1.860000
22997    ZELKI NIMM 2 JOGURTOWE 100 G   1.860000

[1176 rows x 2 columns]

Just to be sure XD

In [0]:
len(d)

22

In [0]:
d['SPICES']

                                       name  unit_cogs
1428                   APEPETITA GYROS 30 G     1.0000
1429                  APETTITA CYNAMON 20 G     0.7900
1430            APPETITA GALKA MUSZKATOLOWA     0.9900
1431                 APPETITA IMBIR MIELONY     0.9900
1432     APPETITA PRZYPRAWA DO GULASZU 20 G     0.9700
...                                     ...        ...
22812               WIN ZIARENKA SMAKU 120G     1.6600
22813                WIN ZIARENKA SMAKU 75G     1.5325
22814                WIN ZUPA GRZYBOWA 48 G     1.1800
22815       ZUPA BLYSKAWICZNA WOLOWINA 60 G     0.3000
22816  ZUPA BLYSKAWICZNA Z MAK KURCZAK 60 G     0.3000

[775 rows x 2 columns]

                                       name  unit_cogs
1428                   APEPETITA GYROS 30 G     1.0000
1429                  APETTITA CYNAMON 20 G     0.7900
1430            APPETITA GALKA MUSZKATOLOWA     0.9900
1431                 APPETITA IMBIR MIELONY     0.9900
1432     APPETITA PRZYPRAWA DO GULASZU 20 G     0.9700
...                                     ...        ...
22812               WIN ZIARENKA SMAKU 120G     1.6600
22813                WIN ZIARENKA SMAKU 75G     1.5325
22814                WIN ZUPA GRZYBOWA 48 G     1.1800
22815       ZUPA BLYSKAWICZNA WOLOWINA 60 G     0.3000
22816  ZUPA BLYSKAWICZNA Z MAK KURCZAK 60 G     0.3000

[775 rows x 2 columns]

In [0]:
d['ALCOHOL']

                                           name  unit_cogs
12               PIWO BOJAN  WIELKOP.0_5 L B/ZW       2.50
13               PIWO BOJAN FAJRANT 0_5 L B/ZWR       1.61
14                 PIWO BOJAN KOKOS 0_5 L B/ZWR       3.02
15             PIWO BOJAN STRAZACKIE 0_5 L B/ZW       2.50
16              PIWO BOJAN SZWEJK 0_5 L B/ZWROT       2.37
...                                         ...        ...
23175            WINO TOTINO CHERRY VERMOUTH 1L       9.80
23176       WINO WALDWEIN JEZYNA 0_75 L SLODKIE       7.60
23177       WINO WALDWEIN MALINA 0_75 L SLODKIE       7.60
23178  WODKA DRINK SOBIESKI 025ML CRANBERRY4.4%       2.89
23179      WODKA DRINK SOBIESKI KAMIKAZE.250 ML       2.89

[1807 rows x 2 columns]

Storing all the dataframes as csv files in a folder of datasets

In [0]:
for key in d:
  name='drive/My Drive/GROUP_OF_ITEMS_FINAL/'+key+".csv"
  d[key].to_csv(name)