<a href="https://colab.research.google.com/github/Soumi7/PG-StockManagement/blob/master/WeatherAVGData_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
pip install wwo-hist

In [ ]:
import requests
from wwo_hist import retrieve_hist_data
frequency = 24
start_date = '1-JAN-2018'
end_date = '1-JAN-2019'
api_key = '12b2c18a34194a8ca93113127200405'
location_list = ['Mlawa']
hist_weather_data = retrieve_hist_data(api_key,
                                location_list,
                                start_date,
                                end_date,
                                frequency,
                                location_label = False,
                                export_csv = True,
                                store_df = True)

In [389]:
import pandas as pd
df=pd.read_csv("Mlawa.csv")

In [390]:
df_copy=pd.read_csv("Mlawa.csv")

In [391]:
heatindex=df_copy["HeatIndexC"].unique()
heatindex.sort()
heatindex

array([-12, -11, -10,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1,   0,   1,
         2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27])

In [392]:
df.drop(df.tail(1).index,inplace=True)

In [393]:
df.shape

(365, 25)

In [394]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          365 non-null    object
 1   maxtempC           365 non-null    int64
 2   mintempC           365 non-null    int64
 3   totalSnow_cm       365 non-null    float64
 4   sunHour            365 non-null    float64
 5   uvIndex            365 non-null    int64
 6   uvIndex.1          365 non-null    int64
 7   moon_illumination  365 non-null    int64
 8   moonrise           365 non-null    object
 9   moonset            365 non-null    object
 10  sunrise            365 non-null    object
 11  sunset             365 non-null    object
 12  DewPointC          365 non-null    int64
 13  FeelsLikeC         365 non-null    int64
 14  HeatIndexC         365 non-null    int64
 15  WindChillC         365 non-null    int64
 16  WindGustKmph       365 non-null    int64
 17  cloudcover         365 non-null    int64
 18  humidity           365 non-null    int64
 19  precipMM           365 non-null    float64
 20  pressure           365 non-null    int64
 21  tempC              365 non-null    int64
 22  visibility         365 non-null    int64
 23  winddirDegree      365 non-null    int64
 24  windspeedKmph      365 non-null    int64
dtypes: float64(3), int64(17), object(5)
memory usage: 74.1+ KB

In [395]:
df=df.drop(['uvIndex','uvIndex.1','moon_illumination','moonrise','moonset','sunrise','sunset','DewPointC','pressure','winddirDegree','sunHour'],axis=1)

In [396]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_time      365 non-null    object
 1   maxtempC       365 non-null    int64
 2   mintempC       365 non-null    int64
 3   totalSnow_cm   365 non-null    float64
 4   FeelsLikeC     365 non-null    int64
 5   HeatIndexC     365 non-null    int64
 6   WindChillC     365 non-null    int64
 7   WindGustKmph   365 non-null    int64
 8   cloudcover     365 non-null    int64
 9   humidity       365 non-null    int64
 10  precipMM       365 non-null    float64
 11  tempC          365 non-null    int64
 12  visibility     365 non-null    int64
 13  windspeedKmph  365 non-null    int64
dtypes: float64(2), int64(11), object(1)
memory usage: 42.8+ KB

In [397]:
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,tempC,visibility,windspeedKmph
0,2018-01-01,8,3,0.0,3,6,3,32,79,89,0.0,8,10,19
1,2018-01-02,3,1,0.0,-1,2,-1,18,62,89,0.6,3,10,11
2,2018-01-03,3,0,0.1,-3,2,-3,28,81,88,0.9,3,6,19
3,2018-01-04,6,3,0.0,0,4,0,35,84,84,0.0,6,10,23
4,2018-01-05,7,3,0.0,1,5,1,35,89,82,0.0,7,10,24

In [398]:
def avg(l):
  return(sum(l)/len(l))

In [399]:
df['date'] = pd.to_datetime(df['date_time'],format="%Y.%m.%d")
df= df.drop(columns=["date_time"],axis=1)
df.head()

,maxtempC,mintempC,totalSnow_cm,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,tempC,visibility,windspeedKmph,date
0,8,3,0.0,3,6,3,32,79,89,0.0,8,10,19,2018-01-01
1,3,1,0.0,-1,2,-1,18,62,89,0.6,3,10,11,2018-01-02
2,3,0,0.1,-3,2,-3,28,81,88,0.9,3,6,19,2018-01-03
3,6,3,0.0,0,4,0,35,84,84,0.0,6,10,23,2018-01-04
4,7,3,0.0,1,5,1,35,89,82,0.0,7,10,24,2018-01-05

In [400]:
df.set_index('date',inplace=True)

In [401]:
months=df.index.month

In [402]:
monthly_avg_maxtemp=df.groupby(months).maxtempC.mean()

In [403]:
print(monthly_avg_maxtemp)

date
1      1.290323
2     -1.535714
3      3.225806
4     17.433333
5     21.483871
6     22.233333
7     24.483871
8     24.677419
9     20.200000
10    14.451613
11     6.266667
12     1.838710
Name: maxtempC, dtype: float64

In [404]:
monthly_avg_maxtemp.shape

(12,)

In [405]:
monthly_avg_mintemp=df.groupby(months).mintempC.mean()
print(monthly_avg_mintemp)

date
1     -2.129032
2     -5.035714
3     -2.903226
4      6.733333
5     10.451613
6     11.900000
7     14.967742
8     15.161290
9     11.466667
10     6.967742
11     1.666667
12    -1.096774
Name: mintempC, dtype: float64

In [406]:
monthly_avg_totalSnow_cm=df.groupby(months).totalSnow_cm.mean()
print(monthly_avg_totalSnow_cm)

date
1     0.061290
2     0.035714
3     0.070968
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.010000
12    0.170968
Name: totalSnow_cm, dtype: float64

In [407]:
monthly_avg_FeelsLikeC=df.groupby(months).FeelsLikeC.mean()
print(monthly_avg_FeelsLikeC)

date
1     -4.838710
2     -7.607143
3     -4.032258
4     10.366667
5     15.419355
6     17.100000
7     19.903226
8     20.064516
9     14.733333
10     8.193548
11     0.766667
12    -3.612903
Name: FeelsLikeC, dtype: float64

In [408]:
monthly_avg_humidity=df.groupby(months).humidity.mean()
print(monthly_avg_humidity)

date
1     82.806452
2     76.035714
3     73.225806
4     72.466667
5     73.225806
6     72.300000
7     75.967742
8     69.967742
9     69.233333
10    71.645161
11    80.600000
12    88.580645
Name: humidity, dtype: float64

In [409]:
monthly_avg_precipMM=df.groupby(months).precipMM.mean()
print(monthly_avg_precipMM)

date
1     0.290323
2     0.067857
3     0.222581
4     0.506667
5     0.919355
6     0.396667
7     1.583871
8     0.941935
9     0.460000
10    0.270968
11    0.083333
12    0.458065
Name: precipMM, dtype: float64

In [410]:
monthly_avg_visibility=df.groupby(months).visibility.mean()
print(monthly_avg_visibility)

date
1     8.322581
2     9.750000
3     9.096774
4     9.700000
5     9.645161
6     9.466667
7     9.354839
8     9.806452
9     9.533333
10    9.903226
11    9.400000
12    8.419355
Name: visibility, dtype: float64

In [411]:
monthly_avg_HeatIndexC=df.groupby(months).HeatIndexC.mean()
print(monthly_avg_HeatIndexC)

date
1     -0.322581
2     -3.428571
3     -0.096774
4     11.900000
5     16.322581
6     17.866667
7     20.419355
8     20.419355
9     15.766667
10    10.064516
11     3.700000
12     0.451613
Name: HeatIndexC, dtype: float64

In [412]:
monthly_avg_windspeedKmph=df.groupby(months).windspeedKmph.mean()
print(monthly_avg_windspeedKmph)

date
1     16.612903
2     11.642857
3     14.032258
4     15.733333
5     13.129032
6     11.900000
7     12.225806
8     10.677419
9     13.233333
10    15.290323
11    12.800000
12    15.258065
Name: windspeedKmph, dtype: float64

In [413]:
monthly_avg_WindChillC=df.groupby(months).WindChillC.mean()
print(monthly_avg_WindChillC)

date
1     -4.838710
2     -7.607143
3     -4.032258
4     10.366667
5     15.419355
6     17.100000
7     19.612903
8     19.806452
9     14.733333
10     8.193548
11     0.766667
12    -3.612903
Name: WindChillC, dtype: float64

In [414]:
monthly_avg_WindGustKmph=df.groupby(months).WindGustKmph.mean()
print(monthly_avg_WindGustKmph)

date
1     26.161290
2     17.071429
3     21.000000
4     24.200000
5     20.935484
6     18.133333
7     19.096774
8     16.806452
9     21.033333
10    24.612903
11    21.133333
12    24.096774
Name: WindGustKmph, dtype: float64

In [415]:
monthly_avg_cloudcover=df.groupby(months).cloudcover.mean()
print(monthly_avg_cloudcover)

date
1     67.161290
2     64.000000
3     61.322581
4     31.866667
5     23.354839
6     29.866667
7     33.354839
8     24.032258
9     32.600000
10    34.580645
11    40.566667
12    81.903226
Name: cloudcover, dtype: float64

In [416]:
monthly_avg_tempC=df.groupby(months).tempC.mean()
print(monthly_avg_tempC)

date
1      1.290323
2     -1.535714
3      3.225806
4     17.433333
5     21.483871
6     22.233333
7     24.483871
8     24.677419
9     20.200000
10    14.451613
11     6.266667
12     1.838710
Name: tempC, dtype: float64

In [417]:
df.head()

,maxtempC,mintempC,totalSnow_cm,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,tempC,visibility,windspeedKmph
date,,,,,,,,,,,,,
2018-01-01,8,3,0.0,3,6,3,32,79,89,0.0,8,10,19
2018-01-02,3,1,0.0,-1,2,-1,18,62,89,0.6,3,10,11
2018-01-03,3,0,0.1,-3,2,-3,28,81,88,0.9,3,6,19
2018-01-04,6,3,0.0,0,4,0,35,84,84,0.0,6,10,23
2018-01-05,7,3,0.0,1,5,1,35,89,82,0.0,7,10,24

In [418]:
l={'monthly_avg_maxtemp':monthly_avg_maxtemp,
   'monthly_avg_mintemp': monthly_avg_mintemp,
   'monthly_avg_totalSnow_cm':monthly_avg_totalSnow_cm,
   'monthly_avg_FeelsLikeC':monthly_avg_FeelsLikeC,
   'monthly_avg_HeatIndexC':monthly_avg_HeatIndexC,
   'monthly_avg_WindChillC':monthly_avg_WindChillC,
   'monthly_avg_WindGustKmph':monthly_avg_WindGustKmph,
   'monthly_avg_cloudcover':monthly_avg_cloudcover,
   'monthly_avg_humidity':monthly_avg_humidity,
   'monthly_avg_precipMM':monthly_avg_precipMM,
   'monthly_avg_tempC':monthly_avg_tempC,
   'monthly_avg_visibility':monthly_avg_visibility,
   'monthly_avg_windspeedKmph':monthly_avg_windspeedKmph}

In [419]:
print(len(l))

13

In [420]:
weather_data=pd.DataFrame(l)

In [421]:
weather_data

,monthly_avg_maxtemp,monthly_avg_mintemp,monthly_avg_totalSnow_cm,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_WindChillC,monthly_avg_WindGustKmph,monthly_avg_cloudcover,monthly_avg_humidity,monthly_avg_precipMM,monthly_avg_tempC,monthly_avg_visibility,monthly_avg_windspeedKmph
date,,,,,,,,,,,,,
1,1.290323,-2.129032,0.061290,-4.838710,-0.322581,-4.838710,26.161290,67.161290,82.806452,0.290323,1.290323,8.322581,16.612903
2,-1.535714,-5.035714,0.035714,-7.607143,-3.428571,-7.607143,17.071429,64.000000,76.035714,0.067857,-1.535714,9.750000,11.642857
3,3.225806,-2.903226,0.070968,-4.032258,-0.096774,-4.032258,21.000000,61.322581,73.225806,0.222581,3.225806,9.096774,14.032258
4,17.433333,6.733333,0.000000,10.366667,11.900000,10.366667,24.200000,31.866667,72.466667,0.506667,17.433333,9.700000,15.733333
5,21.483871,10.451613,0.000000,15.419355,16.322581,15.419355,20.935484,23.354839,73.225806,0.919355,21.483871,9.645161,13.129032
6,22.233333,11.900000,0.000000,17.100000,17.866667,17.100000,18.133333,29.866667,72.300000,0.396667,22.233333,9.466667,11.900000
7,24.483871,14.967742,0.000000,19.903226,20.419355,19.612903,19.096774,33.354839,75.967742,1.583871,24.483871,9.354839,12.225806
8,24.677419,15.161290,0.000000,20.064516,20.419355,19.806452,16.806452,24.032258,69.967742,0.941935,24.677419,9.806452,10.677419
9,20.200000,11.466667,0.000000,14.733333,15.766667,14.733333,21.033333,32.600000,69.233333,0.460000,20.200000,9.533333,13.233333
10,14.451613,6.967742,0.000000,8.193548,10.064516,8.193548,24.612903,34.580645,71.645161,0.270968,14.451613,9.903226,15.290323
11,6.266667,1.666667,0.010000,0.766667,3.700000,0.766667,21.133333,40.566667,80.600000,0.083333,6.266667,9.400000,12.800000
12,1.838710,-1.096774,0.170968,-3.612903,0.451613,-3.612903,24.096774,81.903226,88.580645,0.458065,1.838710,8.419355,15.258065

In [422]:
weather_data.to_csv('MonthlyWeatherData.csv')

In [423]:
weather_data=weather_data.round(2)

In [424]:
weather_data.tail()

,monthly_avg_maxtemp,monthly_avg_mintemp,monthly_avg_totalSnow_cm,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_WindChillC,monthly_avg_WindGustKmph,monthly_avg_cloudcover,monthly_avg_humidity,monthly_avg_precipMM,monthly_avg_tempC,monthly_avg_visibility,monthly_avg_windspeedKmph
date,,,,,,,,,,,,,
8,24.68,15.16,0.00,20.06,20.42,19.81,16.81,24.03,69.97,0.94,24.68,9.81,10.68
9,20.20,11.47,0.00,14.73,15.77,14.73,21.03,32.60,69.23,0.46,20.20,9.53,13.23
10,14.45,6.97,0.00,8.19,10.06,8.19,24.61,34.58,71.65,0.27,14.45,9.90,15.29
11,6.27,1.67,0.01,0.77,3.70,0.77,21.13,40.57,80.60,0.08,6.27,9.40,12.80
12,1.84,-1.10,0.17,-3.61,0.45,-3.61,24.10,81.90,88.58,0.46,1.84,8.42,15.26

In [425]:
dates=["2018-01-01","2018-02-01","2018-03-01","2018-04-01","2018-05-01","2018-06-01","2018-07-01","2018-08-01","2018-09-01","2018-10-01","2018-11-01","2018-12-01"]

In [426]:
weather_data["date"]=dates

In [427]:
weather_data["date"]=pd.to_datetime(weather_data["date"])

In [428]:
weather_data

,monthly_avg_maxtemp,monthly_avg_mintemp,monthly_avg_totalSnow_cm,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_WindChillC,monthly_avg_WindGustKmph,monthly_avg_cloudcover,monthly_avg_humidity,monthly_avg_precipMM,monthly_avg_tempC,monthly_avg_visibility,monthly_avg_windspeedKmph,date
date,,,,,,,,,,,,,,
1,1.29,-2.13,0.06,-4.84,-0.32,-4.84,26.16,67.16,82.81,0.29,1.29,8.32,16.61,2018-01-01
2,-1.54,-5.04,0.04,-7.61,-3.43,-7.61,17.07,64.00,76.04,0.07,-1.54,9.75,11.64,2018-02-01
3,3.23,-2.90,0.07,-4.03,-0.10,-4.03,21.00,61.32,73.23,0.22,3.23,9.10,14.03,2018-03-01
4,17.43,6.73,0.00,10.37,11.90,10.37,24.20,31.87,72.47,0.51,17.43,9.70,15.73,2018-04-01
5,21.48,10.45,0.00,15.42,16.32,15.42,20.94,23.35,73.23,0.92,21.48,9.65,13.13,2018-05-01
6,22.23,11.90,0.00,17.10,17.87,17.10,18.13,29.87,72.30,0.40,22.23,9.47,11.90,2018-06-01
7,24.48,14.97,0.00,19.90,20.42,19.61,19.10,33.35,75.97,1.58,24.48,9.35,12.23,2018-07-01
8,24.68,15.16,0.00,20.06,20.42,19.81,16.81,24.03,69.97,0.94,24.68,9.81,10.68,2018-08-01
9,20.20,11.47,0.00,14.73,15.77,14.73,21.03,32.60,69.23,0.46,20.20,9.53,13.23,2018-09-01
10,14.45,6.97,0.00,8.19,10.06,8.19,24.61,34.58,71.65,0.27,14.45,9.90,15.29,2018-10-01
11,6.27,1.67,0.01,0.77,3.70,0.77,21.13,40.57,80.60,0.08,6.27,9.40,12.80,2018-11-01
12,1.84,-1.10,0.17,-3.61,0.45,-3.61,24.10,81.90,88.58,0.46,1.84,8.42,15.26,2018-12-01

## manually checking if the months has a sunday or saturday , along with a holiday and entering it

In [429]:
weather_data["ishol/week"]=[9,8,9,10,11,9,9,9,10,8,9,12]

In [430]:
weather_data

,monthly_avg_maxtemp,monthly_avg_mintemp,monthly_avg_totalSnow_cm,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_WindChillC,monthly_avg_WindGustKmph,monthly_avg_cloudcover,monthly_avg_humidity,monthly_avg_precipMM,monthly_avg_tempC,monthly_avg_visibility,monthly_avg_windspeedKmph,date,ishol/week
date,,,,,,,,,,,,,,,
1,1.29,-2.13,0.06,-4.84,-0.32,-4.84,26.16,67.16,82.81,0.29,1.29,8.32,16.61,2018-01-01,9
2,-1.54,-5.04,0.04,-7.61,-3.43,-7.61,17.07,64.00,76.04,0.07,-1.54,9.75,11.64,2018-02-01,8
3,3.23,-2.90,0.07,-4.03,-0.10,-4.03,21.00,61.32,73.23,0.22,3.23,9.10,14.03,2018-03-01,9
4,17.43,6.73,0.00,10.37,11.90,10.37,24.20,31.87,72.47,0.51,17.43,9.70,15.73,2018-04-01,10
5,21.48,10.45,0.00,15.42,16.32,15.42,20.94,23.35,73.23,0.92,21.48,9.65,13.13,2018-05-01,11
6,22.23,11.90,0.00,17.10,17.87,17.10,18.13,29.87,72.30,0.40,22.23,9.47,11.90,2018-06-01,9
7,24.48,14.97,0.00,19.90,20.42,19.61,19.10,33.35,75.97,1.58,24.48,9.35,12.23,2018-07-01,9
8,24.68,15.16,0.00,20.06,20.42,19.81,16.81,24.03,69.97,0.94,24.68,9.81,10.68,2018-08-01,9
9,20.20,11.47,0.00,14.73,15.77,14.73,21.03,32.60,69.23,0.46,20.20,9.53,13.23,2018-09-01,10
10,14.45,6.97,0.00,8.19,10.06,8.19,24.61,34.58,71.65,0.27,14.45,9.90,15.29,2018-10-01,8
11,6.27,1.67,0.01,0.77,3.70,0.77,21.13,40.57,80.60,0.08,6.27,9.40,12.80,2018-11-01,9
12,1.84,-1.10,0.17,-3.61,0.45,-3.61,24.10,81.90,88.58,0.46,1.84,8.42,15.26,2018-12-01,12

In [431]:
def avgtemp(max,min):
  return (max+min)/2

weather_data["monthly_Avgtemp"] =avgtemp(weather_data['monthly_avg_maxtemp'],weather_data['monthly_avg_mintemp'])

In [432]:
weather_data

,monthly_avg_maxtemp,monthly_avg_mintemp,monthly_avg_totalSnow_cm,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_WindChillC,monthly_avg_WindGustKmph,monthly_avg_cloudcover,monthly_avg_humidity,monthly_avg_precipMM,monthly_avg_tempC,monthly_avg_visibility,monthly_avg_windspeedKmph,date,ishol/week,monthly_Avgtemp
date,,,,,,,,,,,,,,,,
1,1.29,-2.13,0.06,-4.84,-0.32,-4.84,26.16,67.16,82.81,0.29,1.29,8.32,16.61,2018-01-01,9,-0.420
2,-1.54,-5.04,0.04,-7.61,-3.43,-7.61,17.07,64.00,76.04,0.07,-1.54,9.75,11.64,2018-02-01,8,-3.290
3,3.23,-2.90,0.07,-4.03,-0.10,-4.03,21.00,61.32,73.23,0.22,3.23,9.10,14.03,2018-03-01,9,0.165
4,17.43,6.73,0.00,10.37,11.90,10.37,24.20,31.87,72.47,0.51,17.43,9.70,15.73,2018-04-01,10,12.080
5,21.48,10.45,0.00,15.42,16.32,15.42,20.94,23.35,73.23,0.92,21.48,9.65,13.13,2018-05-01,11,15.965
6,22.23,11.90,0.00,17.10,17.87,17.10,18.13,29.87,72.30,0.40,22.23,9.47,11.90,2018-06-01,9,17.065
7,24.48,14.97,0.00,19.90,20.42,19.61,19.10,33.35,75.97,1.58,24.48,9.35,12.23,2018-07-01,9,19.725
8,24.68,15.16,0.00,20.06,20.42,19.81,16.81,24.03,69.97,0.94,24.68,9.81,10.68,2018-08-01,9,19.920
9,20.20,11.47,0.00,14.73,15.77,14.73,21.03,32.60,69.23,0.46,20.20,9.53,13.23,2018-09-01,10,15.835
10,14.45,6.97,0.00,8.19,10.06,8.19,24.61,34.58,71.65,0.27,14.45,9.90,15.29,2018-10-01,8,10.710
11,6.27,1.67,0.01,0.77,3.70,0.77,21.13,40.57,80.60,0.08,6.27,9.40,12.80,2018-11-01,9,3.970
12,1.84,-1.10,0.17,-3.61,0.45,-3.61,24.10,81.90,88.58,0.46,1.84,8.42,15.26,2018-12-01,12,0.370

In [433]:
weather_data.drop(["monthly_avg_mintemp","monthly_avg_totalSnow_cm","monthly_avg_maxtemp","monthly_avg_WindChillC","monthly_avg_WindGustKmph","monthly_avg_visibility","monthly_avg_windspeedKmph",],axis=1,inplace=True)

In [434]:
weather_data.drop(["monthly_avg_precipMM"],axis=1,inplace=True)

In [435]:
weather_data

,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity,monthly_avg_tempC,date,ishol/week,monthly_Avgtemp
date,,,,,,,,
1,-4.84,-0.32,67.16,82.81,1.29,2018-01-01,9,-0.420
2,-7.61,-3.43,64.00,76.04,-1.54,2018-02-01,8,-3.290
3,-4.03,-0.10,61.32,73.23,3.23,2018-03-01,9,0.165
4,10.37,11.90,31.87,72.47,17.43,2018-04-01,10,12.080
5,15.42,16.32,23.35,73.23,21.48,2018-05-01,11,15.965
6,17.10,17.87,29.87,72.30,22.23,2018-06-01,9,17.065
7,19.90,20.42,33.35,75.97,24.48,2018-07-01,9,19.725
8,20.06,20.42,24.03,69.97,24.68,2018-08-01,9,19.920
9,14.73,15.77,32.60,69.23,20.20,2018-09-01,10,15.835
10,8.19,10.06,34.58,71.65,14.45,2018-10-01,8,10.710
11,0.77,3.70,40.57,80.60,6.27,2018-11-01,9,3.970
12,-3.61,0.45,81.90,88.58,1.84,2018-12-01,12,0.370

In [436]:
# function to categorise the heat into 3 different levels ... 0=low( <= -1 ) , 1= normal ( >-1 , <=14 ), 2= high ( >14,<=27 )

def cat_heat(data):
    monthly_heatindex=[]
    for heatindex in data["monthly_avg_HeatIndexC"]:
        if heatindex < -2:
            monthly_heatindex.append(0)
        elif heatindex >=-1 and heatindex<=14:
            monthly_heatindex.append(1)
        else:
            monthly_heatindex.append(2)
    return monthly_heatindex

In [437]:
heat_index=cat_heat(weather_data)

In [438]:
weather_data["monthly_avg_HeatIndexC"]=heat_index

In [439]:
weather_data

,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity,monthly_avg_tempC,date,ishol/week,monthly_Avgtemp
date,,,,,,,,
1,-4.84,1,67.16,82.81,1.29,2018-01-01,9,-0.420
2,-7.61,0,64.00,76.04,-1.54,2018-02-01,8,-3.290
3,-4.03,1,61.32,73.23,3.23,2018-03-01,9,0.165
4,10.37,1,31.87,72.47,17.43,2018-04-01,10,12.080
5,15.42,2,23.35,73.23,21.48,2018-05-01,11,15.965
6,17.10,2,29.87,72.30,22.23,2018-06-01,9,17.065
7,19.90,2,33.35,75.97,24.48,2018-07-01,9,19.725
8,20.06,2,24.03,69.97,24.68,2018-08-01,9,19.920
9,14.73,2,32.60,69.23,20.20,2018-09-01,10,15.835
10,8.19,1,34.58,71.65,14.45,2018-10-01,8,10.710
11,0.77,1,40.57,80.60,6.27,2018-11-01,9,3.970
12,-3.61,1,81.90,88.58,1.84,2018-12-01,12,0.370

In [440]:

cloudcover=df_copy["cloudcover"].unique()
cloudcover.sort()
len(cloudcover)

95

In [441]:
# function to categorise the heat into 3 different levels ... 0=clear sky( < 250 ) , 1= scattered clouds
# ( >25 , <=50 ), 2= broken clouds ( >50,<=75 )  3= overcast/ cloudy (>75)


def cat_cloud(data):
    monthly_cloudcover=[]
    for cloudcover in data["monthly_avg_cloudcover"]:
        if cloudcover < 25:
            monthly_cloudcover.append(0)
        elif cloudcover >=25 and cloudcover<50:
            monthly_cloudcover.append(1)
        elif cloudcover >=50 and cloudcover<75:
            monthly_cloudcover.append(2)    
        else:
            monthly_cloudcover.append(3)
    return monthly_cloudcover

In [442]:
weather_data["monthly_avg_cloudcover"]=cat_cloud(weather_data)

In [443]:
weather_data

,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity,monthly_avg_tempC,date,ishol/week,monthly_Avgtemp
date,,,,,,,,
1,-4.84,1,2,82.81,1.29,2018-01-01,9,-0.420
2,-7.61,0,2,76.04,-1.54,2018-02-01,8,-3.290
3,-4.03,1,2,73.23,3.23,2018-03-01,9,0.165
4,10.37,1,1,72.47,17.43,2018-04-01,10,12.080
5,15.42,2,0,73.23,21.48,2018-05-01,11,15.965
6,17.10,2,1,72.30,22.23,2018-06-01,9,17.065
7,19.90,2,1,75.97,24.48,2018-07-01,9,19.725
8,20.06,2,0,69.97,24.68,2018-08-01,9,19.920
9,14.73,2,1,69.23,20.20,2018-09-01,10,15.835
10,8.19,1,1,71.65,14.45,2018-10-01,8,10.710
11,0.77,1,1,80.60,6.27,2018-11-01,9,3.970
12,-3.61,1,3,88.58,1.84,2018-12-01,12,0.370

In [444]:
weather_data.drop(["monthly_avg_tempC"],axis=1,inplace=True)

In [445]:
weather_data

,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity,date,ishol/week,monthly_Avgtemp
date,,,,,,,
1,-4.84,1,2,82.81,2018-01-01,9,-0.420
2,-7.61,0,2,76.04,2018-02-01,8,-3.290
3,-4.03,1,2,73.23,2018-03-01,9,0.165
4,10.37,1,1,72.47,2018-04-01,10,12.080
5,15.42,2,0,73.23,2018-05-01,11,15.965
6,17.10,2,1,72.30,2018-06-01,9,17.065
7,19.90,2,1,75.97,2018-07-01,9,19.725
8,20.06,2,0,69.97,2018-08-01,9,19.920
9,14.73,2,1,69.23,2018-09-01,10,15.835
10,8.19,1,1,71.65,2018-10-01,8,10.710
11,0.77,1,1,80.60,2018-11-01,9,3.970
12,-3.61,1,3,88.58,2018-12-01,12,0.370

In [446]:
# reindexing the data so that it becomes normal. We can use pd.reindex too but this works so why complicate it

In [447]:
weather_data=weather_data[["date","monthly_Avgtemp","monthly_avg_FeelsLikeC","monthly_avg_HeatIndexC","monthly_avg_cloudcover","monthly_avg_humidity","ishol/week"]]

In [448]:
weather_data

,date,monthly_Avgtemp,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity,ishol/week
date,,,,,,,
1,2018-01-01,-0.420,-4.84,1,2,82.81,9
2,2018-02-01,-3.290,-7.61,0,2,76.04,8
3,2018-03-01,0.165,-4.03,1,2,73.23,9
4,2018-04-01,12.080,10.37,1,1,72.47,10
5,2018-05-01,15.965,15.42,2,0,73.23,11
6,2018-06-01,17.065,17.10,2,1,72.30,9
7,2018-07-01,19.725,19.90,2,1,75.97,9
8,2018-08-01,19.920,20.06,2,0,69.97,9
9,2018-09-01,15.835,14.73,2,1,69.23,10
10,2018-10-01,10.710,8.19,1,1,71.65,8
11,2018-11-01,3.970,0.77,1,1,80.60,9
12,2018-12-01,0.370,-3.61,1,3,88.58,12

In [455]:
weather_data=weather_data.set_index("date")

In [456]:
weather_data

,monthly_Avgtemp,monthly_avg_FeelsLikeC,monthly_avg_HeatIndexC,monthly_avg_cloudcover,monthly_avg_humidity,ishol/week
date,,,,,,
2018-01-01,-0.420,-4.84,1,2,82.81,9
2018-02-01,-3.290,-7.61,0,2,76.04,8
2018-03-01,0.165,-4.03,1,2,73.23,9
2018-04-01,12.080,10.37,1,1,72.47,10
2018-05-01,15.965,15.42,2,0,73.23,11
2018-06-01,17.065,17.10,2,1,72.30,9
2018-07-01,19.725,19.90,2,1,75.97,9
2018-08-01,19.920,20.06,2,0,69.97,9
2018-09-01,15.835,14.73,2,1,69.23,10
2018-10-01,10.710,8.19,1,1,71.65,8
2018-11-01,3.970,0.77,1,1,80.60,9
2018-12-01,0.370,-3.61,1,3,88.58,12

In [457]:
weather_data.to_csv("Final_Weather_Data.csv")